<table>
  <tr>
    <th>订单号</th>
    <th>商品名称</th>
    <th>商品价格（元）</th>
    <th>付款状态</th>
  </tr>
  <tr>
    <td><%= out_trade_no %></td>
    <td><%= cup.name %></td>
    <td><%= cup.price %></td>
    <td>未付款</td>
  </tr>
</table>
<%= form_for(order) do |f| %>
  <%= f.hidden_field :course_id, value: cup.id %>
  <%= f.hidden_field :subject, value: cup.name %>
  <%= f.hidden_field :out_trade_no, value: out_trade_no %>
  <%= f.hidden_field :total_fee, value: cup.price * 1 %>
<div class="action">
  <%= f.submit "提交订单", class: "order-button" %>
</div>
<% end %>
