<!DOCTYPE html>
<html>
<head>
  <title>HaoqiAlipay</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="flash-message">
    <%= flash[:notice] %>
  </div>

  <%= yield %>

</body>
</html>
